/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CUSTOM STYLES */
#root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator {
  display: inline-block;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 5rem;
  background-color: #29B6F6;
  color: white;
  border: none;
  font-weight: 100;
  font-size: 3rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.operator:hover {
  background-color: #03A9F4;
}

.operator:active {
  background-color: #039BE5;
}

.count {
  display: inline-block;
  font-weight: 100;
  font-size: 10rem;
}

.reset {
  background-color: #EEEEEE;
  color: black;
  border: none;
  font-weight: 100;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
}

.reset:hover {
  background-color: #E0E0E0;
}

.reset:active {
  background-color: #BDBDBD;
}
